[Desktop Entry]
Type=Application
Name=Aura Store
GenericName=Software Center
Comment=Modern, intelligent Linux software center for Arch Linux and the AUR
Exec=aura-store %u
Icon=aura-store
Terminal=false
Categories=System;PackageManager;Settings;
StartupWMClass=aura-store
Keywords=package;aur;pacman;store;software;install;app;
MimeType=x-scheme-handler/appstream;
Actions=updates;explore;

[Desktop Action updates]
Name=Check for Updates
Exec=aura-store --view=updates

[Desktop Action explore]
Name=Explore Software
Exec=aura-store --view=explore
